/* <!-- DCSE/2022/033/SS --> */
.back{
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    background-color: gray;
    border: 5px solid wheat;
    border-radius: 10px;
    height:400px;
    width: 600px;
}
.back img{
    padding-left: 180px;
    padding-top: 130px;
    height: 140px;
    width: 140px;
}
.pr{
    padding-right: 500px;
    padding-top: 130px;
}
p{
    color:white;
}
span{
    color: white;
}

section{
    display: grid;
    grid-template-columns: auto auto;
    
}
.front{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    padding-left: 10px;
    border: 5px solid wheat;
    border-radius: 10px;
    background-color: gray;
    color: white;
    height: 432px;
    width: 800px;
}
.frontimg{
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 20px;
}
img{
    height: 100px;
    width: 100px;
}
.code{
    padding-top: 60px;
}
.code img{
    height: 180px;
    width: 170px;
    padding-left: 20px;
}